nav {
    position: relative;
    width: 2.5em;
    height: 2.5em;
    transition: 0.5s ease-in;
    position: absolute;
    top: 3%;
    right: 3%;
}

#one {
    width: 0.5em;
    height: 0.5em;
    border-radius: 45px;
    font-weight: 1em;
    background-color: rgb(234, 4, 4);
    position: absolute;
    top: 0%;
    left: 0%;
    transition: 0.1s ease;

}

#two {
    width: 0.5em;
    height: 0.5em;
    border-radius: 45px;
    font-weight: 1em;
    background-color: rgb(234, 4, 4);
    position: absolute;
    top: 0%;
    right: 0%;
    transition: 0.5s ease;

}

#three {
    width: 0.5em;
    height: 0.5em;
    border-radius: 45px;
    font-weight: 1em;
    background-color: rgb(234, 4, 4);
    position: absolute;
    bottom: 0%;
    left: 0%;
    transition: 0.5s ease;

}

#four {
    width: 0.5em;
    height: 0.5em;
    border-radius: 45px;
    font-weight: 1em;
    background-color: rgb(234, 4, 4);
    position: absolute;
    Bottom: 0%;
    right: 0%;
    transition: 0.5s ease;

}

#five {
    width: 0.5em;
    height: 0.5em;
    border-radius: 45px;
    font-weight: 1em;
    background-color: rgb(234, 4, 4);
    position: absolute;
    bottom: 50%;
    transform: translate(0%, 50%);
    right: 0%;
    transition: 0.5s ease;

}

#six {
    width: 0.5em;
    height: 0.5em;
    border-radius: 45px;
    font-weight: 1em;
    background-color: rgb(234, 4, 4);
    position: absolute;
    bottom: 50%;
    transform: translate(0%, 50%);
    left: 0%;
    transition: 0.5s ease;

}

#seven {
    width: 0.5em;
    height: 0.5em;
    border-radius: 45px;
    font-weight: 1em;
    background-color: rgb(234, 4, 4);
    position: absolute;
    top: 0%;
    transform: translate(-50%, 0%);
    left: 50%;
    transition: 0.5s ease;

}

#eight {
    width: 0.5em;
    height: 0.5em;
    border-radius: 45px;
    font-weight: 1em;
    background-color: rgb(234, 4, 4);
    position: absolute;
    bottom: 0%;
    transform: translate(-50%, 0%);
    left: 50%;
    transition: 0.5s ease;

}

#nine {
    width: 0.5em;
    height: 0.5em;
    border-radius: 45px;
    font-weight: 1em;
    background-color: rgb(234, 4, 4);
    position: absolute;
    bottom: 50%;
    transform: translate(-50%, 50%);
    left: 50%;
    transition: 0.5s ease;
}

nav:hover {

    #eight {
        display: none;
    }

    #five {
        display: none;
    }

    #seven {
        height: 2.5em;
    }

    #six {
        display: none;
    }

    #nine {
        width: 2.5em;
    }
}

nav:focus {
    rotate: 45deg;
}

div {
    border: 1px solid black;
    background-color: transparent !important;
}

.nav-area {
    width: 100%;
    height: 0vh;
    border: none;
    background-color: coral !important;
    transition: 0.4s ease-in-out;
}
.respnav{
    width: 100%;
    height: 100vh;
    border: none;
    background-color: coral !important;
    transition: 0.4s ease-in-out;
}
.respul{
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    display: none;
    margin:0%;
    padding:0%
}.showdata{
    display: flex;

}
#respul li{
    margin: 0% auto;
   text-align: center;
    font-size: 3vmax;
    margin-bottom: 1em;
    list-style: none;
}

/* hero section */


#hero{
    width: 100%;
    height: 100vh;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   padding: 0% 20%;
   box-sizing: border-box;
   text-align: center;
}

h1{
    font-size: 7vmax;
    margin-bottom: 0%;
}
h3{
    font-weight: lighter;
}
#lname{
    color:coral
}
#fname{
    -webkit-text-stroke: 1.5px  black;
    color: transparent;
}
#cta{
    width: 8em;
    height: 3em;
    text-align: center;
    background-color: rgb(250, 151, 115);
    border:  2px solid black;
    box-shadow: 5px 5px 0px 1px;
    transition: 0.2s ease;
}
#cta:hover{
    box-shadow: -5px -5px 0px 1px;
    
   

}